* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0;
  position: relative;
}

.roma {
  background-image: url(../img/roma.jpg);
}

.londra {
  background-image: url(../img/londra.jpeg);
}

.goldcoast {
  background-image: url(../img/goldcoast.jpg);
}

.titolo {
  color: white;
  position :absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-shadow: 2px 2px black;
  font-family: Arial, Helvetica, sans-serif;
}

.layover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
